Repository OwOBots/bluebot, changes with the labels that .github/labeler.yml gives for each.
All labels: Code-changes, dependency

warm :)
  main.py
Labels: Code-changes

AHHHHHHHHH
  main.py
Labels: Code-changes

Revert "AHHHHHHHHH"
  main.py
Labels: Code-changes

i hate you
  .gitignore
  main.py
Labels: Code-changes

added a CACHE
  .gitignore
  main.py
Labels: Code-changes

sec
  main.py
Labels: Code-changes

Fix code scanning alert no. 4: Incomplete URL substring sanitization
  main.py
Labels: Code-changes

Revert "Fix code scanning alert no. 4: Incomplete URL substring sanitization "
  main.py
Labels: Code-changes

Revenge of the image compression
  main.py
Labels: Code-changes

reqs
  requirements.txt
Labels: dependency

Add files via upload
  .github/d346a5843011967ba19dcbef5fd2ca94283fdd90.jpg
Labels: none

update README.md
  .github/6334667.gif
  .github/d346a5843011967ba19dcbef5fd2ca94283fdd90.jpg
  README.md
Labels: none

update README.md
  .github/6334667.gif
  .github/d346a5843011967ba19dcbef5fd2ca94283fdd90.jpg
  README.md
Labels: none

Update README.md
  README.md
Labels: none

fix: image aspect ratio on posts
  main.py
  requirements.txt
Labels: Code-changes, dependency

added Ratelimit check, fixed double login
  main.py
Labels: Code-changes

i hate jpegs
  main.py
Labels: Code-changes

Added "gif" support which uses ffmpeg so i need to add ffmpeg install instructions
  .github/6334667.gif
  .github/ump9-girls-frontline.gif
  .github/workflows/bandit.yml
  main.py
  requirements.txt
Labels: Code-changes, dependency

update README.md
  README.md
Labels: none

forgot to add gif support to the csv
  main.py
Labels: Code-changes

stop yelling at me
  main.py
Labels: Code-changes

jetbrains formating sucks
  main.py
Labels: Code-changes

Refactoring Stuff
  BlueAuth.py
  Converter.py
  SetupLogging.py
  main.py
  requirements.txt
Labels: Code-changes, dependency

Create version.txt
  version.txt
Labels: none

Refactoring Stuff part 2
  GrabSubPosts.py
  main.py
Labels: Code-changes

no need for you anymore
  GrabSubPosts.py
Labels: Code-changes

Versioning
  GrabSubPosts.py
  main.py
Labels: Code-changes

Globals are now a separate file added ocr
  Converter.py
  GrabSubPosts.py
  globals.py
  main.py
Labels: Code-changes

egg
  globals.py
  main.py
Labels: Code-changes

words for me
  main.py
Labels: Code-changes

txt files are cool
  globals.py
  main.py
Labels: Code-changes

UV update and moved some functions to separate files also README.md has some changes as well
  Login.py
  README.md
  depcheck.py
  main.py
  pyproject.toml
  uv.lock
Labels: Code-changes

UV update and moved some functions to separate files also README.md has some changes as well
  Login.py
  README.md
  depcheck.py
  main.py
  pyproject.toml
  uv.lock
Labels: Code-changes

bandit.yml updates
  .github/workflows/bandit.yml
Labels: none

whoops
  Login.py
Labels: Code-changes

.github/labeler.yml:

# Add 'Code-changes' label to any PR that contains changes to files with a .py extension within the entire repository
Code-changes:
  - changed-files:
      - any-glob-to-any-file: '*.py'



# Add 'dependency' label to any PR that contains changes to files within the 'requirements' folder or its subfolders
dependency:
  - changed-files:
      - any-glob-to-any-file: "requirements.txt"

# Add 'feature' label to any PR where the head branch name starts with `feature` or has a `feature` section in the name
feature:
  - head-branch: [ '^feature', 'feature' ]

# Add 'release' label to any PR that is opened against the `main` branch
release:
  - base-branch: 'main'
